/* main layout */

body {
    --color-grey: #e0d5ce;
    --color-blue: #30d5f0;
    --color-green: #9fc629;
    --color-tan: #f2e19d;
    --color-dark: #473f39;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.fancy-bg {
  --s: 70px; /* control the size */
  --c: #e0d5ce;
  --_l: #0000 46%,var(--color-grey) 47% 53%,#0000 54%;
  background:
    radial-gradient(100% 100% at 100% 100%,var(--_l)) var(--s) var(--s),
    radial-gradient(100% 100% at 0    0   ,var(--_l)) var(--s) var(--s),
    radial-gradient(100% 100%,#0000 22%,var(--color-grey) 23% 29%, #0000 30% 34%,var(--color-grey) 35% 41%,#0000 42%)
    var(--color-blue);
  background-size: calc(var(--s)*2) calc(var(--s)*2);
}

.flex-item {
    width: 80%;
}

.content {
    background-color: var(--color-grey);
    border: 3px solid var(--color-dark);
    display: grid;
    grid-template-areas:
    "header1 header1"
    "resume resume"
    "header2 header2"
    "cantor covid"
    "header3 header3"
    "personal personal";
    grid-template-columns: 1fr 1fr;
}

/* grid areas */

.resume-header {
    grid-area: header1;
}

.selected-header {
    grid-area: header2;
}

.personal-header {
    grid-area: header3;
}

#timeline {
    grid-area: resume;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-bottom: 0px;
}

.selected-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.cantor {
    grid-area: cantor;
    background-color: chartreuse;
}

.covid {
    grid-area: covid;
    background-color: darkturquoise;
}

.personal {
    grid-area: personal;
}

/* end grid areas */

.content > div {
    padding: 10px 15px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: var(--color-green);

}

.selected-title {
    font-weight: bolder;
    font-size: larger;
    height: 2.5em;
}

.selected-thumbnails {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.keyword {
    font-weight: bolder;
}
.title-name {
    font-size: 3.5em;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}
